.image{
	background-image: url('http://images4.fanpop.com/image/photos/22600000/Itachi-Uchiha-itachi-uchiha-22633031-1280-800.jpg');
}



h1{
	text-align: center;
	color: #D50000;
	
}
body{
	font-family:Geneva;
	color: #D50000;
}
a:visited{
	color : #1B5E20;
}
a:hover{
	text-decoration: none;
}
a:active{
	color:#D50000;
};